.bg-dark {
  color:  white;
}

.movie {
  margin: 10px auto;
}

.card-title {
  text-align: center;
  height: 48px;
}

.btn-movie {
  width: 100%;
}

.card-img-top {
  height: 350px;
}

.modal-poster {
  height: 500px;
}

.card-body {
  height: 140px;
}

.movie-parrafo {
  font-size: 18px;
  font-weight: bold;
}

.modal-content {
  padding: 10px;
}

.sessionId {
  width: 100%;
}

.btn-google {
  color: white;
  background-color: #ea4335;
  margin: 10px auto;
}

.btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.roww {
  margin : 70px;
}



